<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ybchen.mapper.ChapterMapper">

<!-- 通用设置 -->
    <!-- 通用查询列 -->
    <sql id="Base_Column_List">
        id, video_id, title, ordered, create_time
    </sql>

    <!-- 通用条件列 -->
    <sql id="ChapterByCondition">
            <if test="id!=null and id!=''">
                AND id = #{id}
            </if>
            <if test="videoId!=null and videoId!=''">
                AND video_id = #{videoId}
            </if>
            <if test="title!=null and title!=''">
                AND title = #{title}
            </if>
            <if test="ordered!=null and ordered!=''">
                AND ordered = #{ordered}
            </if>
            <if test="createTime!=null">
                AND create_time = #{createTime}
            </if>
    </sql>

    <!-- 通用设置列 -->
    <sql id="ChapterSetColumns">
            <if test="videoId!=null and videoId!=''">
                video_id = #{videoId},
            </if>
            <if test="title!=null and title!=''">
                title = #{title},
            </if>
            <if test="ordered!=null and ordered!=''">
                ordered = #{ordered},
            </if>
            <if test="createTime!=null">
                create_time = #{createTime},
            </if>
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="ChapterMap" type="com.ybchen.entity.Chapter">
            <id column="id" property="id"/>
            <result column="video_id" property="videoId"/>
            <result column="title" property="title"/>
            <result column="ordered" property="ordered"/>
            <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 查询表chapter所有信息 -->
    <select id="findAllChapter" resultMap="ChapterMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM chapter
    </select>

    <!-- 根据主键id查询表chapter信息 -->
    <select id="findChapterByid" resultMap="ChapterMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM chapter
        WHERE id=#{id}
    </select>

    <!-- 根据条件查询表chapter信息 -->
    <select id="findChapterByCondition" resultMap="ChapterMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM chapter
        WHERE 1=1
        <include refid="ChapterByCondition" />
    </select>

    <!-- 根据主键id删除表chapter信息 -->
    <delete id="deleteChapterByid">
        DELETE FROM
        chapter
        WHERE id=#{id}
    </delete>

    <!-- 根据主键id更新表chapter信息 -->
    <update id="updateChapterByid" parameterType="com.ybchen.entity.Chapter">
        UPDATE chapter
        <set>
            <include refid="ChapterSetColumns"/>
        </set>
        WHERE
        id=#{id}
    </update>

    <!-- 新增表chapter信息 -->
    <insert id="addChapter">
        INSERT INTO chapter (
            id
            ,video_id
            ,title
            ,ordered
            ,create_time
        ) VALUES (
            #{id}
            ,#{videoId}
            ,#{title}
            ,#{ordered}
            ,#{createTime}
        )
    </insert>
</mapper>
